asgiref                              
certifi                             
charset-normalizer                             
cloudinary                              
distlib                             
dj-database-url                              
Django                              
django-cloudinary-storage                              
django-heroku                              
django-jazzmin                              
filelock                            
gunicorn                             
idna                             
mysqlclient                              
packaging                             
pillow                             
pipenv                              
platformdirs                              
psycopg2                             
psycopg2-binary                            
PyMySQL                              
requests                             
setuptools                            
six                            
sqlparse                              
typing_extensions                             
tzdata                              
urllib3                            
virtualenv                              
whitenoise                              